name: Basic Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Print Message
      run: |
        echo "Basic pipeline running"
        echo "Build started at $(date)"
